<div class="card">
  <%= image_tag('sample_card_brown.png')%>
  <div class="card-body">
    <div class="card-text flex">
      <div>
        <i class="fas fa-pen-nib text-brown"></i> 500文字
      </div>
      <div>
        <i class="fas fa-shoe-prints text-brown"></i> 100PV
      </div>
      <div>
        <i class="fas fa-heart text-brown"></i> 100いいね
      </div>
    </div>
    <div class="card-text right">Written by @Twikko</div>
  </div>
</div>
