<div class="card">
  <%= link_to post_path(post) do %>
    <%= image_tag(thumbnail_post_path(post)) %>
  <% end %>
  <div class="card-body">
    <div class="card-text flex">
      <div>
        <i class="fas fa-pen-nib text-brown"></i>
        <%= post.body.length %>文字
      </div>
      <div>
        <i class="fas fa-shoe-prints text-brown"></i> 100PV
      </div>
      <div>
        <i class="fas fa-heart text-brown"></i> 100いいね
      </div>
    </div>
    <div class="card-text right">Written by @Twikko</div>
  </div>
</div>
