<div class="post-new">
  <div class="post-area">
    <h3 class="title center text-brown">
      エモいツイートを作る
      <i class="fas fa-pen-nib"></i>
    </h3>
    <%= render 'form', post: @post %>
  </div>
</div>
