body {
  font-family: "ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO" !important;
}

footer {
  text-align: center;
  background-color: #F0E8DC;
  color: #7C4106;
  padding: 1em;
}

.text-brown {
  color: #7C4106;
}

.bg-brown {
  background-color: #7C4106;
  color: #FFFFFF;
}

.bg-pink {
  background-color: #ea445f;
  color: #FFFFFF;
}

.bg-white {
  color: #7C4106;
  background-color: #FFFFFF;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.flex {
  display: flex;
  justify-content: space-around;
}

nav {
  background-color: #F0E8DC;
  padding: 0.5em;

  a {
    color: #7C4106;
    text-decoration: none;
  }

  a:hover {
    color: #7C4106;
    text-decoration: none;
  }

  .brand {
    margin-right: auto;
    font-weight: bold;
  }

  .navbar-links {
    display: flex;
    justify-content: flex-end;
  }

  .icon-with-text {
    width: 5em;
    text-align: center;
    span {
      font-size: small;
    }
  }
}
